.stats-page-container {
    padding: 16px;
    width: 100%;
    max-width: 1080px;
    box-sizing: border-box;
}

.stats-page {
    display: flex;
    justify-content: center;
}

.stats-page-row {
    display: flex;
    align-items: stretch;
    gap: 16px;
    margin-bottom: 16px;
}